.lista-cadastro li a {
  text-decoration: underline;
}

.lista-cadastro li a:hover {
  color: var(--cor-primaria);
}

.container-cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  padding: var(--gap);
}

.container-cadastro:before {
  content: "";
  display: block;
  width: 100%;
  height: 7px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--cor-primaria);
}

.box-cadastro {
  width: 100%;
}

.box-cadastro form {
  max-width: 450px;
  margin: 0 auto;
  background-color: var(--bg3);
  filter: var(--filter);
  border-radius: 15px;
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.box-cadastro h2 {
  font-size: 1.5rem;
  margin-bottom: var(--gap);
}

.box-cadastro form label {
  margin-bottom: 5px;
  font-weight: 500;
  color: var(--cor2);
}

.box-cadastro form input,
.box-cadastro form select,
.btn-cadastrar {
  height: 50px;
  width: 100%;
  border-radius: 6px;
  border: 2px solid var(--border-color);
  outline: none;
  font-size: 1rem;
  font-family: "Poppins", "Inter", "Roboto", sans-serif;
  padding: 0 1.25rem;
  color: var(--cor);
}

[data-formulario] > div {
  position: relative;
}

.btn-cadastrar {
  border: 0;
  background-color: var(--cor-primaria);
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.show-cartao {
  overflow: hidden;
  margin-top: 0.625rem;
  display: none;
  animation: animaCartao 0.3s ease-in-out;
}

.show-cartao.active {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.nome-instituicao {
  text-align: center;
  width: 50%;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4;
  padding: var(--gap);
  background-color: var(--cor-secundaria);
  border-radius: 6px;
  color: var(--cor);
}

@keyframes animaCartao {
  from {
    opacity: 0;
    transform: translate3d(-15px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.show-cartao h3 {
  margin-bottom: 10px;
  font-size: 1rem;
}

.show-cartao .cartao {
  width: 50%;
  height: 120px;
  transition: 0.3s;
}

.show-cartao .cartao img {
  width: 30px;
}

.show-cartao .cartao p {
  font-size: 0.75rem;
}

@media (max-width: 1200px) {
  .box-cadastro {
    flex-direction: column;
    top: 0;
    left: 0;
  }
  .show-cartao.active {
    flex-direction: column;
  }

  .nome-instituicao,
  .show-cartao .cartao {
    width: 100%;
  }
}
