.container-cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  padding: var(--gap);
  min-height: calc(100vh - 83px);
  padding: var(--gap);
}

@media (max-width: 740px) {
  .container-cadastro {
    align-items: flex-start;
  }
}

.lista-cadastro li a {
  text-decoration: underline;
}

.lista-cadastro li a:hover {
  color: var(--cor-primaria);
}

.box-cadastro {
  width: 100%;
}

.box-cadastro form {
  max-width: 450px;
  margin: 0 auto;
  background-color: var(--bg3);
  filter: var(--filter);
  border-radius: 6px;
  padding: var(--gap);
}

.box-cadastro h2 {
  font-size: 1.5rem;
  margin-bottom: var(--gap);
}

.show-cartao {
  overflow: hidden;
  margin-top: 0.625rem;
  display: none;
  animation: animaCartao 0.3s ease-in-out;
}

.show-cartao.active {
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
}

.nome-instituicao {
  text-align: center;
  width: 50%;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4;
  padding: var(--gap);
  background-color: var(--bg);
  border-radius: 6px;
  color: var(--cor);
}

@keyframes animaCartao {
  from {
    opacity: 0;
    transform: translate3d(-15px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.show-cartao h3 {
  margin-bottom: 10px;
  font-size: 1rem;
}

.show-cartao .cartao {
  width: 50%;
  height: 120px;
  transition: 0.3s;
}

.show-cartao .cartao img {
  width: 30px;
}

.show-cartao .cartao p {
  font-size: 0.75rem;
}

@media (max-width: 1200px) {
  .box-cadastro {
    flex-direction: column;
    top: 0;
    left: 0;
  }
  .show-cartao.active {
    flex-direction: column;
  }

  .nome-instituicao,
  .show-cartao .cartao {
    width: 100%;
  }
}
