.container-cadastro {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  padding: var(--gap);
}

@media (max-width: 740px) {
  .container-cadastro {
    align-items: flex-start;
  }
}

.voltar-painel {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: var(--gap) 0;
}

.voltar-painel,
.voltar-painel svg {
  color: var(--cor);
  fill: currentColor;
}

.voltar-painel:hover,
.voltar-painel:hover svg {
  color: var(--cor-primaria);
  fill: currentColor;
}

.box-cadastro {
  width: 100%;
}

.box-cadastro {
  max-width: 960px;
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.box-titulo-cadastro {
  width: 100%;
  flex: 1;
  line-height: 60px;
}

.box-titulo-cadastro svg {
  width: 100px;
  height: 100px;
  fill: var(--cor-primaria);
}

.box-titulo-cadastro h2 {
  font-size: 3rem;
  line-height: 60px;
}

.box-cadastro form {
  width: 100%;
  flex: 1;
  background-color: var(--bg3);
  filter: var(--filter);
  border-radius: 6px;
  padding: 2.5rem;
}

.box-cadastro form input,
.box-cadastro form select {
  background-color: var(--bg);
  border-color: var(--bg);
}

.show-cartao {
  overflow: hidden;
  margin-top: 0.625rem;
  display: none;
  animation: animaCartao 0.3s ease-in-out;
}

.show-cartao.active {
  display: flex;
  gap: 0.625rem;
}

@keyframes animaCartao {
  from {
    opacity: 0;
    transform: translate3d(-15px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.show-cartao h3 {
  margin-bottom: 10px;
  font-size: 1rem;
}

.show-cartao .cartao {
  width: 40%;
  height: 80px;
  align-self: flex-start;
  transition: 0.3s;
  padding: 0.625rem;
}

.show-cartao .cartao .logo-bandeira {
  width: 30px;
}

.show-cartao .cartao p {
  font-size: 0.75rem;
}

.img-instituicao {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  border-radius: 6px;
  padding: var(--gap);
}

.img-instituicao img {
  width: 60px;
}

@media (max-width: 740px) {
  .box-cadastro {
    flex-direction: column;
  }

  .box-titulo-cadastro svg {
    width: 50px;
    height: 50px;
  }

  .box-titulo-cadastro h2 {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .box-cadastro form {
    padding: var(--gap);
  }

  .img-instituicao,
  .show-cartao .cartao {
    width: 100%;
    height: 80px;
  }
}
