[data-formulario] {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

[data-formulario] label {
  margin-bottom: 5px;
  font-weight: 500;
  color: var(--cor2);
  font-size: 0.845rem;
  cursor: pointer;
}

[data-formulario] input,
[data-formulario] select,
.btn {
  height: 50px;
  width: 100%;
  border-radius: 6px;
  border: 2px solid var(--border-color);
  outline: none;
  font-size: 0.845rem;
  font-family: "Rubik", "Roboto", sans-serif;
  padding: 0 0.625rem;
  color: var(--cor);
  transition: border 0.3s;
}

[data-formulario] > div {
  position: relative;
}

[data-formulario] input:focus,
[data-formulario] select:focus {
  border-color: var(--cor-primaria);
}

.mensagem {
  color: var(--cor2);
  font-size: 0.75rem;
  line-height: 1.2;
  color: var(--red);
  margin-top: 5px;
  background-color: var(--bg-red);
  padding: 5px;
  display: none;
  border-radius: 6px;
}

.mensagem.active {
  display: block;
}

.column2-input {
  display: flex;
  gap: var(--gap);
}

.column2-input > div {
  width: 100%;
}

.btn {
  background-color: var(--cor-primaria);
  font-weight: 500;
  text-transform: uppercase;
  color: var(--cor4);
  border: 0;
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-form {
  border: 0;
  background-color: var(--cor-primaria);
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
